<?xml version="1.0"?><DTSConfiguration><DTSConfigurationHeading><DTSConfigurationFileInfo GeneratedBy="NNWW\jdavis" GeneratedFromPackageName="Part" GeneratedFromPackageID="{3CD1839C-46A1-4732-9CB7-74E17ECC4FE3}" GeneratedDate="5/27/2015 4:32:11 PM"/></DTSConfigurationHeading><Configuration ConfiguredType="Property" Path="\Package.Variables[User::RootPath].Properties[Value]" ValueType="String"><ConfiguredValue>Z:\REPOS\RDrive_Test2\Projects\RENEWS\AMP\AssetWorks\A.9 Data Conversion\06 Loading</ConfiguredValue></Configuration></DTSConfiguration>